---
title: Home
layout: default
extra_css: main.css
---

{% include carousel.html %}

<div class="container">
   <ul class="nav nav-tabs nav-justified lead" role="tablist">
      <li role="presentation" class="active"><a data-toggle="tab" href="#intro" role="tab">Welcome</a></li>
      <li role="presentation"><a data-toggle="tab" href="#white-tea" role="tab">White</a></li>
      <li role="presentation"><a data-toggle="tab" href="#green-tea" role="tab">Green</a></li>
      <li role="presentation"><a data-toggle="tab" href="#oolong-tea" role="tab">oolong</a></li>
      <li role="presentation"><a data-toggle="tab" href="#dark-tea" role="tab">Dark</a></li>
      <li role="presentation"><a data-toggle="tab" href="#scented-tea" role="tab">Scented</a></li>
      <li role="presentation"><a data-toggle="tab" href="#tea-wares" role="tab">Tea Wares</a></li>
   <ul>
</div>

<div class="container tab-content">
   <div id="intro" role="tabpanel" class="tab-pane fade in active"><div class="tab-content">

      <h2 class="page-header" style="text-align:center">Introducing Jade Tea House</h2>

      <div class="row">
         <div class="col-xs-12"><p>
					 <strong>Introducing Jade Tea House</strong>...
         </p></div>
      </div>

      <div class="row">
         <div class="col-sm-6">
            <h3 class="page-header" style="text-align:center">What is tea?</h3>
            <p>
              What is tea? What is tea? What is tea? What is tea? What is tea? What is tea? What is tea? What is tea? What is tea? What is tea?
              What is tea? What is tea? What is tea? What is tea? What is tea? What is tea? What is tea? What is tea? What is tea? What is tea?
              What is tea? What is tea? What is tea? What is tea? What is tea? What is tea? What is tea? What is tea? What is tea? What is tea?
              What is tea? What is tea? What is tea? What is tea? What is tea? What is tea? What is tea? What is tea? What is tea? What is tea?
            </p>
         </div>
         <div class="col-sm-6">
            <h3 class="page-header" style="text-align:center">Why tea?</h3>
            <p class="">
              Why tea? Why tea? Why tea? Why tea? Why tea?Why tea? Why tea? Why tea? Why tea? Why tea? Why tea? Why tea? Why tea? Why tea?
              Why tea? Why tea? Why tea? Why tea? Why tea?Why tea? Why tea? Why tea? Why tea? Why tea? Why tea? Why tea? Why tea? Why tea?
              Why tea? Why tea? Why tea? Why tea? Why tea?Why tea? Why tea? Why tea? Why tea? Why tea? Why tea? Why tea? Why tea? Why tea?
              Why tea? Why tea? Why tea? Why tea? Why tea?Why tea? Why tea? Why tea? Why tea? Why tea? Why tea? Why tea? Why tea? Why tea?
            </p>
         </div>
      </div>
   </div></div>

   <!-- White tea -->
   <div id="white-tea" role="tabpanel" class="tab-pane fade">
     <div class="tab-content">
		     <br></br>
      <!-- <div class="lead">We have following tea:</div> -->

      <div class="col-sm-6 col-md-5 col-md-offset-1">
        <a href="#" class="thumbnail">
          <div class="row">
            <div class="col-xs-4">
              <img class="img-responsive" src="/assets/img/tea1.jpg"></img>
            </div>
            <div class="col-xs-8">
              <p>tea1</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-md-5 col-md-offset-1">
        <a href="#" class="thumbnail">
          <div class="row">
            <div class="col-xs-4">
              <img class="img-responsive" src="/assets/img/tea2.jpg"></img>
            </div>
            <div class="col-xs-8">
              <p class="center-block">tea2</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-md-5 col-md-offset-1">
        <a href="#" class="thumbnail">
          <div class="row">
            <div class="col-xs-4">
              <img class="img-responsive" src="/assets/img/tea3.jpg"></img>
            </div>
            <div class="col-xs-8">
              <p class="center-block">tea3</p>
            </div>
          </div>
        </a>
      </div>
   </div>
 </div>

 <!-- Green Tea -->
 <div id="green-tea" role="tabpanel" class="tab-pane fade">
   <div class="tab-content">
       <br></br>
    <!-- <div class="lead">We have following tea:</div> -->

    <div class="col-sm-6 col-md-5 col-md-offset-1">
      <a href="#" class="thumbnail">
        <div class="row">
          <div class="col-xs-4">
            <img class="img-responsive" src="/assets/img/tea1.jpg"></img>
          </div>
          <div class="col-xs-8">
            <p>tea1</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-md-5 col-md-offset-1">
      <a href="#" class="thumbnail">
        <div class="row">
          <div class="col-xs-4">
            <img class="img-responsive" src="/assets/img/tea2.jpg"></img>
          </div>
          <div class="col-xs-8">
            <p class="center-block">tea2</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-md-5 col-md-offset-1">
      <a href="#" class="thumbnail">
        <div class="row">
          <div class="col-xs-4">
            <img class="img-responsive" src="/assets/img/tea3.jpg"></img>
          </div>
          <div class="col-xs-8">
            <p class="center-block">tea3</p>
          </div>
        </div>
      </a>
    </div>
 </div>
</div>

<!-- OOlong Tea -->
<div id="oolong-tea" role="tabpanel" class="tab-pane fade">
  <div class="tab-content">
      <br></br>
   <!-- <div class="lead">We have following tea:</div> -->

   <div class="col-sm-6 col-md-5 col-md-offset-1">
     <a href="#" class="thumbnail">
       <div class="row">
         <div class="col-xs-4">
           <img class="img-responsive" src="/assets/img/tea1.jpg"></img>
         </div>
         <div class="col-xs-8">
           <p>tea1</p>
         </div>
       </div>
     </a>
   </div>

   <div class="col-sm-6 col-md-5 col-md-offset-1">
     <a href="#" class="thumbnail">
       <div class="row">
         <div class="col-xs-4">
           <img class="img-responsive" src="/assets/img/tea2.jpg"></img>
         </div>
         <div class="col-xs-8">
           <p class="center-block">tea2</p>
         </div>
       </div>
     </a>
   </div>

   <div class="col-sm-6 col-md-5 col-md-offset-1">
     <a href="#" class="thumbnail">
       <div class="row">
         <div class="col-xs-4">
           <img class="img-responsive" src="/assets/img/tea3.jpg"></img>
         </div>
         <div class="col-xs-8">
           <p class="center-block">tea3</p>
         </div>
       </div>
     </a>
   </div>
</div>
</div>

<!-- Dark Tea -->
<div id="dark-tea" role="tabpanel" class="tab-pane fade">
  <div class="tab-content">
      <br></br>
   <!-- <div class="lead">We have following tea:</div> -->

   <div class="col-sm-6 col-md-5 col-md-offset-1">
     <a href="#" class="thumbnail">
       <div class="row">
         <div class="col-xs-4">
           <img class="img-responsive" src="/assets/img/tea1.jpg"></img>
         </div>
         <div class="col-xs-8">
           <p>tea1</p>
         </div>
       </div>
     </a>
   </div>

   <div class="col-sm-6 col-md-5 col-md-offset-1">
     <a href="#" class="thumbnail">
       <div class="row">
         <div class="col-xs-4">
           <img class="img-responsive" src="/assets/img/tea2.jpg"></img>
         </div>
         <div class="col-xs-8">
           <p class="center-block">tea2</p>
         </div>
       </div>
     </a>
   </div>

   <div class="col-sm-6 col-md-5 col-md-offset-1">
     <a href="#" class="thumbnail">
       <div class="row">
         <div class="col-xs-4">
           <img class="img-responsive" src="/assets/img/tea3.jpg"></img>
         </div>
         <div class="col-xs-8">
           <p class="center-block">tea3</p>
         </div>
       </div>
     </a>
   </div>
</div>
</div>

<!-- Scented Tea -->
<div id="scented-tea" role="tabpanel" class="tab-pane fade">
  <div class="tab-content">
      <br></br>
   <!-- <div class="lead">We have following tea:</div> -->

   <div class="col-sm-6 col-md-5 col-md-offset-1">
     <a href="#" class="thumbnail">
       <div class="row">
         <div class="col-xs-4">
           <img class="img-responsive" src="/assets/img/tea1.jpg"></img>
         </div>
         <div class="col-xs-8">
           <p>tea1</p>
         </div>
       </div>
     </a>
   </div>

   <div class="col-sm-6 col-md-5 col-md-offset-1">
     <a href="#" class="thumbnail">
       <div class="row">
         <div class="col-xs-4">
           <img class="img-responsive" src="/assets/img/tea2.jpg"></img>
         </div>
         <div class="col-xs-8">
           <p class="center-block">tea2</p>
         </div>
       </div>
     </a>
   </div>

   <div class="col-sm-6 col-md-5 col-md-offset-1">
     <a href="#" class="thumbnail">
       <div class="row">
         <div class="col-xs-4">
           <img class="img-responsive" src="/assets/img/tea3.jpg"></img>
         </div>
         <div class="col-xs-8">
           <p class="center-block">tea3</p>
         </div>
       </div>
     </a>
   </div>
</div>
</div>

<!-- Tea Wares -->
<div id="tea-wares" role="tabpanel" class="tab-pane fade">
  <div class="tab-content">
      <br></br>
   <!-- <div class="lead">We have following tea:</div> -->

   <div class="col-sm-6 col-md-5 col-md-offset-1">
     <a href="#" class="thumbnail">
       <div class="row">
         <div class="col-xs-4">
           <img class="img-responsive" src="/assets/img/tea-ware1.jpg"></img>
         </div>
         <div class="col-xs-8">
           <p>tea ware 1</p>
         </div>
       </div>
     </a>
   </div>

   <div class="col-sm-6 col-md-5 col-md-offset-1">
     <a href="#" class="thumbnail">
       <div class="row">
         <div class="col-xs-4">
           <img class="img-responsive" src="/assets/img/tea-ware2.jpg"></img>
         </div>
         <div class="col-xs-8">
           <p class="center-block">tea ware 2</p>
         </div>
       </div>
     </a>
   </div>

   <div class="col-sm-6 col-md-5 col-md-offset-1">
     <a href="#" class="thumbnail">
       <div class="row">
         <div class="col-xs-4">
           <img class="img-responsive" src="/assets/img/tea-ware3.jpg"></img>
         </div>
         <div class="col-xs-8">
           <p class="center-block">tea ware 3</p>
         </div>
       </div>
     </a>
   </div>
</div>
</div>


  <!--
  Display iterative content
  -->
   <!-- <div id="news" role="tabpanel" class="tab-pane fade"><div class="tab-content">
      <div class="container">
		<br></br>
      <div class="text-center">
         Blablabla.
      </div>
      {% for post in site.categories.promotions %}
         <div class="media row"><div class="media-body">
            <h4 class="media-heading lead"><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <div>&nbsp;&nbsp;{{ post.date | date_to_string }}</div>
            <div>{{ post.excerpt | truncate: 300 }}</div>
         </div></div>
      {% endfor %}
      </div>
   </div></div> -->

</div>
